<CVInstallManager_ClientSetup
  Focus="{{ hdps_focus }}"
  installDirectory="{{ hdps_install_directory }}"
  unixTempDirectory="{{ hdps_temp_directory }}"
  startService="1"
  stopService="1"
  interfaceName="{{ hdps_interface_name }}"
  clientName="{{ hdps_client_name }}"
  clientHostName="{{ hdps_client_hostname }}"
  csHostName="{{ hdps_commserve_hostname }}"
  isFWHttpProxyConfig="{{ '1' if hdps_use_http_proxy else '0' }}"
  authcode="{{ hdps_authcode }}">

  <clientComposition>
    <components>
{% for component_id in hdps_components %}
      <componentInfo ComponentId="{{ component_id }}"/>
{% endfor %}
    </components>
  </clientComposition>

</CVInstallManager_ClientSetup>